<header class="pos-rel">
    <app-nav></app-nav>
    <app-menu style="display: none;"></app-menu>
    <div class="wrapper header-content pos-rel">
        <div class="headline">
            <h1>Frontend <br> Developer</h1>
            <div class="line">
                <div></div>
                <span>Gheorghii Popovici</span>
            </div>
        </div>
        <div class="header-bottom">
            <span class="email">gheorghii.popovici89@gmail.com</span>
            <div class="header-bottom-right">
                <img src="../../assets/icons/arrow-bottom-icons/arrow-bottom-3.svg">
                <span class="scroll-text">Scroll <br> Down</span>
            </div>
        </div>
    </div>
</header>