<section #sectionFooter id="section-footer" class="footer section-top">
    <div class="img-background"></div>
    <div class="content">
        <svg width="250" height="250" viewBox="0 0 250 250" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="path1-footer" [attr.d]="path1" stroke="black" stroke-width="4" />
            <path class="path2-footer" [attr.d]="path2" stroke="black" stroke-width="4" />
        </svg>
        <div class="wrapper">
            <h2>Say Hi!</h2>
        </div>
        <app-form class="wrapper"></app-form>
        <app-footer-bar class="wrapper"></app-footer-bar>
    </div>
</section>