<section id="section-about-me" class="about-me section-top">
    <div class="wrapper ">
        <h2>About me</h2>
        <div class="content">
            <div class="left">
                <p>
                    I am a Front-end deverloper based in Köln, Germany. I help designers and companies to bring their
                    ideas to real life. Creativity and logical thinking are skills that I have developed to connect
                    ideas into quality products.

                    If you think I’d be a good match for your projects, contact me!
                </p>
                <div class="desktop-display">
                    <a href="#section-footer" class="btn">Let’s talk</a>
                </div>
            </div>
            <div class="right">
                <img src="./assets/img/photo.png">
            </div>
        </div>
    </div>
</section>