.about-me {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    padding-bottom: 95px;

    @media (min-width: 1441px) {
        padding-bottom: 40px;
    }

    @media (max-width: 1024px) {
        padding-bottom: 145px;
    }

    @media (max-width: 480px) {
        padding-bottom: 110px;
    }

    h2 {
        margin-bottom: 50px;
        text-align: start;

        @media (max-width: 1024px) {
            margin-bottom: 25px;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        gap: 80px;
        margin-top: 50px;

        @media (max-width: 1024px) {
            margin-top: 25px;
            gap: 25px;
        }
        
        @media (max-width: 768px) {
            flex-direction: column;   
        }
    }

    .left {
        .intro-text {
            margin-bottom: 18px;
        }        

        div {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .dots {
            color: var(--secundario-color);

            &:hover {
                text-decoration: underline;
                transition: color 0.3s ease;
            }
        } 
    }

    .right {
        display: flex;
        justify-content: center;
        
        img {
            height: 60vh;
            background-color: #cec6c6;
            max-width: 500px;
            max-height: 500px;

            @media (max-width: 1024px) {
                width: 350px;
                height: auto;
            }
            
            @media (max-width: 768px) {
                width: calc(100vw - 200px);
                max-height: fit-content;
            }
            
            @media (max-width: 480px) {
                width: 100%;
            }
        }
    }
}