.about-me {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        margin-bottom: 50px;
        text-align: start;
    }

    .content {
        display: flex;
        justify-content: space-between;
        gap: 80px;
        margin-top: 50px;
    }

    .left {

        p {
            font-family: 'Overpass', sans-serif;
            font-size: 23px;
            font-weight: 400;
            line-height: 120%;
            margin-top: 0;
            margin-bottom: 60px;
        }

        div {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    .right {

        img {
            width: 533px;
        }
    }

    .arrow-line {
        left: calc(-15vw);
    }
}