<section class="about-me">
    <div class="wrapper ">
        <h2>About me</h2>
        <div class="content">
            <div class="left">
                <p>
                    I am a Front-end deverloper based in München, Germany. I help designers and companies to bring their
                    ideas to real life. Creativity and logical thinking are skills that I have developed to connect
                    ideas into quality products.

                    If you think I’d be a good match for your projects, contact me!
                </p>

                <div>
                    <button class="btn">Let’s talk</button>
                </div>
            </div>
            <div class="right">
                <img src="../../assets/img/photo interactionavatar.svg">
            </div>
        </div>
        <div class="arrow-line-container">
            <img style="width: 100%; opacity: 0;" src="../../assets/icons/arrow-line/arrow-line-3.svg">
            <img class="arrow-line" src="../../assets/icons/arrow-line/arrow-line-3.svg">
        </div>
    </div>
</section>