<section *ngIf="menuService.isMenuOpen" class="menu">
    <div class="top pos-rel">
        <div class="top-content" [class.top-to-center]="menuService.isMenuContentDisplayed"
            [class.center-to-top]="!menuService.isMenuContentDisplayed">
            <div class="wrapper">
                <button class="svg-wrapper" (click)="toggleMenu('section-about-me')">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape" />
                        <text x="17.665" y="45" class="text">About me</text>
                    </svg>
                </button>
                <button class="svg-wrapper" (click)="toggleMenu('section-my-skills')">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape" />
                        <text x="37.325" y="45" class="text">My skills</text>
                    </svg>
                </button>
                <button class="svg-wrapper" (click)="toggleMenu('section-portfolio')">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape" />
                        <text x="34.425" y="45" class="text">Portfolio</text>
                    </svg>
                </button>
            </div>
            <div class="bg-menu"></div>
        </div>
    </div>
    <div class="bottom pos-rel">
        <div class="bottom-content" [class.bottom-to-center]="menuService.isMenuContentDisplayed"
            [class.center-to-bottom]="!menuService.isMenuContentDisplayed">
            <div class="wrapper">
                <div class="left">
                    <h2>Say Hi!</h2>
                    <span>kontakt@gheorghii-popovici.de</span>
                </div>
                <div class="right">
                    <a href="https://github.com/Gheorghii28" target="_blank">
                        <img src="./assets/icons/github.svg">
                    </a>
                    <a href="mailto:kontakt@gheorghii-popovici.de" target="_blank">
                        <img src="./assets/icons/email.svg">
                    </a>
                    <a href="https://www.linkedin.com/in/gheorghii-popovici-0475a017a/" target="_blank">
                        <img src="./assets/icons/linkedin.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>