<section *ngIf="menuService.isMenuOpen" class="menu">

    <div class="top pos-rel">
        <div class="top-content" [class.top-to-center]="menuService.isMenuContentDisplayed" [class.center-to-top]="!menuService.isMenuContentDisplayed">
            <div class="wrapper">
                <a class="svg-wrapper" href="#section-about-me" (click)="toggleMenu()">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape" />
                        <text x="17.665" y="45" class="text">About me</text>
                    </svg>
                </a>
                <a class="svg-wrapper" href="#section-my-skills" (click)="toggleMenu()">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape" />
                        <text x="37.325" y="45" class="text">My skills</text>
                    </svg>
                </a>
                <a class="svg-wrapper" href="#section-portfolio" (click)="toggleMenu()">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape" />
                        <text x="34.425" y="45" class="text">Portfolio</text>
                    </svg>
                </a>
            </div>
            <div class="bg-menu"></div>
        </div>
    </div>

    <div class="bottom pos-rel">
        <div class="bottom-content" [class.bottom-to-center]="menuService.isMenuContentDisplayed" [class.center-to-bottom]="!menuService.isMenuContentDisplayed">
            <div class="wrapper">
                <div class="left">
                    <h2>Say Hi!</h2>
                    <span>popovici.gheorghii89@gmail.com</span>
                </div>
                <div class="right">
                    <a href="#">
                        <img src="../../assets/icons/github.svg">
                    </a>
                    <a href="#">
                        <img src="../../assets/icons/email.svg">
                    </a>
                    <a href="#">
                        <img src="../../assets/icons/linkedin.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>