<nav>
    <div class="wrapper">
        <a href="">
            <img class="logo" src="./assets/img/logo-light.png">
        </a>
        <svg #svgMenuIcon (click)="toggleMenuFromNav()" class="menu-icon" [attr.width]="menuService.paths[0]['width']" [attr.height]="menuService.paths[0]['height']" [attr.viewBox]="menuService.paths[0]['viewBox']" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="path1-nav" [attr.d]="menuService.paths[0]['path1']" stroke="black" stroke-width="4" stroke-linecap="square"/>
            <path class="path2-nav" [attr.d]="menuService.paths[0]['path2']" stroke="black" stroke-width="4" stroke-linecap="square"/>
            <path class="path3-nav" [attr.d]="menuService.paths[0]['path3']" stroke="black" stroke-width="4" stroke-linecap="square"/>
        </svg>
    </div>
</nav>