.fieldset {
    width: 100%;
    height: min-content;
    border: 4px solid transparent;

    @media (max-width: 1024px) {
        border: 3px solid transparent;
    }

    &:hover {
        border-color: var(--cream-color);
    }

    &:focus-within {
        border-color: transparent;

        .legend {
            bottom: 40px;
        }

        #label-textarea {
            top: -11px;
            bottom: auto;
        }
    }
}

.bottom14 {
    bottom: 14px;
}

.bottom45 {
    bottom: 45px;
}

.top14 {
    top: 14px;
}

.top-11 {
    top: -11px;
}

.legend {
    color: var(--cream-color);
    font-family: 'Overpass';
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    position: absolute;
    border-radius: 10px;
    left: 15px;
    background-color: black;
    padding: 5px 10px;
    transition: all 225ms ease-in-out;
    cursor: text;
    pointer-events: none;

    @media (max-width: 1024px) {
        font-size: 14px;
    }
}

#label-textarea {
    bottom: auto;
}

.form-container {
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--cream-color);

    @media (max-width: 768px) {
        width: 100%;
    }

    h3 {
        color: var(--secundario-color);
        text-align: center;
        font-family: 'Overpass', sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
        white-space: nowrap;
        margin-bottom: 18px;

        @media (max-width: 1024px) {
            font-size: 26px;
        }

        @media (max-width: 768px) {
            white-space: pre-wrap;
        }
    }

    p {
        white-space: nowrap;

        @media (max-width: 1024px) {
            text-align: center;
            margin-bottom: 35px;
        }

        @media (max-width: 768px) {
            white-space: pre-wrap;
        }
    }

    form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;

        input,
        textarea {
            width: calc(100% - 50px);
            padding: 15px 25px;
            border: none;
            color: var(--cream-color);
            background: var(--black-color);
            outline: none;
            font-size: 16px;
            border: 2px solid var(--cream-color);
            border-top: 4px solid transparent;
            border-left: 0px;
            border-right: 0px;

            @media (max-width: 1024px) {
                font-size: 14px;
            }

            &:hover {
                border-color: transparent;
            }

            &:focus {
                border: 2px solid var(--cream-color);
            }
        }

        textarea {
            resize: vertical;
            overflow: auto;
            padding-right: 20px;
            background-image: url('../../assets/icons/resize.svg');
            background-size: 13px;
            background-repeat: no-repeat;
            background-position: right 5px bottom 5px;

            &::-webkit-resizer {
                display: none;
            }
        }

        .btn {
            color: var(--cream-color);
            border-color: var(--cream-color);
        }
    }
}

.name-valid::before,
.email-valid::before,
.message-valid::before,
.email-format-valid::before {
    position: absolute;
    right: 10px;
    top: calc(50% - 15px);
}

.name-valid::after,
.email-valid::after,
.message-valid::after,
.email-format-valid::after {
    content: '';
    position: absolute;
    display: none;
}

.name-invalid::before,
.email-invalid::before,
.message-invalid::before,
.email-format-invalid::before {
    position: absolute;
    right: 10px;
    top: calc(50% - 15px);
}

.name-invalid::after,
.email-invalid::after,
.message-invalid::after,
.email-format-invalid::after {
    position: absolute;
    left: 0;
    top: 100%;
    color: #E61C40;
    font-family: 'Overpass', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-top: 10px;
}

.name-valid::before {
    content: url('../../assets/icons/succes.svg');
}

.name-invalid::before {
    content: url('../../assets/icons/warning.svg');
}

.name-invalid::after {
    content: 'Your name is required';
}

.email-valid::before {
    content: url('../../assets/icons/succes.svg');
}

.email-invalid::before {
    content: url('../../assets/icons/warning.svg');
}

.email-invalid::after {
    content: 'Your email is required';
}

.message-valid::before {
    content: url('../../assets/icons/succes.svg');
    top: 10px !important;
}

.message-invalid::before {
    content: url('../../assets/icons/warning.svg');
    top: 10px !important;
}

.message-invalid::after {
    content: 'Your message is empty';
}

.email-format-valid::before {
    content: url('../../assets/icons/succes.svg');
}

.email-format-invalid::before {
    content: url('../../assets/icons/warning.svg');
}

.email-format-invalid::after {
    content: 'Your email is invalid';
}

.brightness04 {
    filter: brightness(0.4);
}

.form-result-info {
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-form-load-animation {
    display: flex;

    &::before {
        content: url('../../assets/icons/loading.png');
        animation: rotateAnimation 2s linear infinite;
    }

    @keyframes rotateAnimation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

.show-form-succes-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    background-color: var(--secundario-color);
    border: 4px solid var(--secundario-color);
    border-radius: 10px;
    transform: translateY(0vh);
    animation: succesAnimation 225ms ease-in-out;

    @keyframes succesAnimation {
        from {
            transform: translateY(100vh);
        } 

        to {
            transform: translateY(0vh);
        }
    }

    .result-content {
        position: relative;

        &::before {
            position: absolute;
            content: url('../../assets/icons/checked.png');
            top: 0px;
            left: 68px;
        }

        &::after {
            position: absolute;
            content: 'Your message has been sent successfully.';
            color: var(--black-color);
            font-family: 'Overpass', sans-serif;
            font-size: 18px;
            font-weight: 600;
            right: -123px;
            width: 250px;
            top: -20px;
            text-align: center;
        }
    }
}

.show-form-error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    background-color: #FF0000;
    border: 4px solid #FF0000;
    border-radius: 10px;
    transform: translateY(0vh);
    animation: succesAnimation 225ms ease-in-out;

    @keyframes succesAnimation {
        from {
            transform: translateY(100vh);
        } 

        to {
            transform: translateY(0vh);
        }
    }

    .result-content {
        position: relative;

        &::before {
            position: absolute;
            content: url('../../assets/icons/warning.png');
            top: 0px;
            left: 68px;
        }

        &::after {
            position: absolute;
            content: 'Error while submitting the form.';
            color: var(--black-color);
            font-family: 'Overpass', sans-serif;
            font-size: 18px;
            font-weight: 600;
            right: -123px;
            width: 250px;
            top: -20px;
            text-align: center;
        }
    }
}

.opacity-null {
    animation: opacityAnimation 2000ms ease-in;
    opacity: 0;

    @keyframes opacityAnimation {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }
}