<section id="section-portfolio" class="portfolio section-top">
    <div class="wrapper">
        <div class="headline">
            <h2>Portfolio</h2>
            <p>This page is a sample of my work - please feel free to try them out.</p>
        </div>
    </div>

    <app-project></app-project>
    <app-project></app-project>
    <app-project></app-project>
    <app-project></app-project>
    <app-project></app-project>
<!-- 
    <div class="wrapper">
        <div class="arrow-line-container">
            <img class="desktop-display" style="width: 100%; opacity: 0;" src="../../assets/icons/arrow-line/arrow-line-3.svg">
            <img class="arrow-line desktop-display" src="../../assets/icons/arrow-line/arrow-line-3.svg">
            <img class="arrow-line mobile-display" src="../../assets/icons/arrow-line/arrow-line-mobile-1.svg">
        </div>
    </div> -->
</section>