.portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 150px;

    @media (max-width: 480px) {
        padding-bottom: 110px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .headline {
        width: min-content;

        @media (max-width: 768px) {
            margin-top: 15px;
        }

        @media (max-width: 480px) {
            width: 100%;
            margin-top: 0;
        }

        h2 {
            margin-bottom: 35px;
            position: relative;

            svg {
                position: absolute;
                bottom: 100%;
                right: 70%;
                transform: scaleX(-1);

                @media (max-width: 768px) {
                    right: 0;
                }

                @media (max-width: 480px) {
                    scale: 0.7;
                    bottom: 0;
                    left: 0;
                }
            }

            @media (max-width: 1024px) {
                text-align: start !important;
            }
        }
    }
}