<section #sectionPortfolio id="section-portfolio" class="portfolio section-top">
    <div class="wrapper">
        <div class="headline">
            <h2>Portfolio
                <svg width="250" height="250" viewBox="0 0 250 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="path1-portfolio" [attr.d]="path1" stroke="black" stroke-width="4" />
                    <path class="path2-portfolio" [attr.d]="path2" stroke="black" stroke-width="4" />
                </svg>
            </h2>
            <p>This page is a sample of my work - please feel free to try them out.</p>
        </div>
    </div>

    <!-- <app-project></app-project>
    <app-project></app-project>
    <app-project></app-project>
    <app-project></app-project>
    <app-project></app-project> -->
</section>