<section class="my-skills">
    
    <div class="content wrapper">
        <div class="headline">
            <h2>My skills</h2>
        </div>
        <div class="skills-container">
            <div>
                <app-skills></app-skills>
                <app-skills></app-skills>
                <app-skills></app-skills>
                <app-skills></app-skills>
                <app-skills></app-skills>
                <app-skills></app-skills>
                <app-skills></app-skills>
                <app-skills></app-skills>
                <app-skills></app-skills>
                <app-skills></app-skills>
            </div>
        </div>

        <div class="arrow-line-container">
            <img style="width: 100%; opacity: 0;" src="../../assets/icons/arrow-line/arrow-line-3.svg">
            <img class="arrow-line" src="../../assets/icons/arrow-line/arrow-line-3.svg">
        </div>
    </div>
</section>