<section #sectionMySkills id="section-my-skills" class="my-skills">
    <div class="content wrapper">
        <div class="headline">
            <h2>My skills
                <svg width="250" height="250" viewBox="0 0 250 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="path1-my-skills" [attr.d]="path1" stroke="black" stroke-width="4" />
                    <path class="path2-my-skills" [attr.d]="path2" stroke="black" stroke-width="4" />
                </svg>
            </h2>
        </div>
        <div class="skills-container">
            <app-skills></app-skills>
        </div>
    </div>
</section>