<div class='imprint'>
    <div class="content wrapper">
        <h1>Impressum</h1>
        <h2>Angaben gemäß § 5 TMG</h2>
        <p>
            <span>Gheorghii Popovici</span>
            <span>Westerwaldstr. 10</span>
            <span>50169 Kerpen</span>
        </p>
        <h2>Kontakt</h2>
        <p>
            <span>Telefon: +49 (0) 162 910 83 76</span>
            <span>E-Mail: <a href="mailto:kontakt@gheorghii-popovici.de">kontakt@gheorghii-popovici.de</a></span>
        </p>
        <p>
            <span>Quelle:</span>
            <a href="https://www.e-recht24.de" target="_blank">e-recht24.de</a>
        </p>
    </div>
</div>
<app-footer #appFooter class="imprint-footer"></app-footer>