<section class="project">
    <div class="content">
        <div #projectElement *ngFor="let project of projects; let i = index" [ngClass]="getProjectClass(i)" class="project-content pos-rel">
            <div class="nr">
                <span>{{project['nr']}}/{{projects.length}}</span>
            </div>
            <div class="left">
                <div class="left-content pos-rel">
                    <img class="project-img" src="./assets/img/{{project['imgSrc']}}">
                    <div class="frame">
                        <div class="pos-rel">
                            <img class="arrow-circle" src="./assets/icons/arrow-circle.svg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="info">
                    <h3>{{project['name']}}</h3>
                    <span>{{project['technologies']}}</span>
                    <p>{{project['description']}}</p>
                    <div class="btn-container">
                        <a href="{{project['githubLink']}}" class="btn" target="_blank">Github</a>
                        <a href="{{project['webLink']}}" class="btn" target="_blank">Live</a>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</section>